<ion-header>
  <ion-toolbar color="primary">
    <ion-title> Custom Errors </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="myForm">
    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input formControlName="username"></ion-input>
      <app-error-messages
        [control]="myForm.controls.username"
        [customErrors]="usernameErrors"
      ></app-error-messages>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email"></ion-input>
      <app-error-messages
        [control]="myForm.controls.email"
      ></app-error-messages>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Message</ion-label>
      <ion-input formControlName="message"></ion-input>
      <app-error-messages
        [control]="myForm.controls.message"
      ></app-error-messages>
    </ion-item>
  </form>
</ion-content>
